* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* VARIAVEIS CSS*/
:root {
   --branquinho: #f1f1f1;
   --roxoclaro: rgb(245, 55, 55);
   --roxomedio: #550909;
   --vermelhoescuro: #87100c;
   --gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
   --gradient2: linear-gradient(rgba(61, 14, 14, 0.842));
}

body {
    background-image: url(/src/assets/img/fundo.4.png);
}

.topo {
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-top: -20px;
}

.logo {
    position: absolute;
    top: 80px;
    left: -30px;
    transform: translateY(-50%);
    height: 100px;

}

header {
    background-color: var(--roxomedio);
    height: 180px;
    color: var(--branquinho);
    padding: 20px;
    justify-content: space-around;
}

header h1 {
    font-family: BBH Sans Bartle;
    font-size: 2.5rem;
    font-weight: 100;
    z-index: 2;
    text-align: center;
    color: #fff;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.menu-header {
   list-style: none;
   text-wrap: wrap;
   display: flex;
   gap: 10%;
   justify-content: center;

}

.item-menu {
    font-family: Questrial;
    font-size: 18px;
    color: var(--branquinho);
    text-decoration: none;
    font-weight: 400;
    transition: color .5s;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.item-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--roxoclaro);
    transition: width 0.3s ease;
}

.item-menu:hover::after {
    width: 100%;
}

#login {
    font-family: Questrial;
    font-size: 18px;
    color: var(--branquinho);
    text-decoration: none;
    font-weight: 400;
    transition: color .5s;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

}

#login::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--roxoclaro);
    transition: width 0.3s ease;
}

#login:hover::after {
    width: 100%;
}


menu-header a:hover {
    color: var(--roxoclaro);
}


#produtos {
    font-family: Questrial;
    display: grid;
    justify-content: center;
}

#produtos img {
    width: 100%;
    height: 200px;
    padding: 3px;
}

.nome-prod {
    margin: 8px;
    margin-bottom: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: var(--vermelhoescuro);
    transition: color .5s;
    position: relative;
}

.nome-prod::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--vermelhoescuro);
    transition: width 0.3s ease;
}

.nome-prod:hover::after {
    width: 100%;
}

article p {
    margin: 8px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.roupa {
    margin-right: -100px;
    width: 350px;
    height: 300px;
    height: 280px;
    margin: 20px;
    padding: 5px;
    background-color: #ffac3f;
}

.roupa:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    border: 1px solid #000;
    cursor: pointer;
}

.footer-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    max-width: 100%;
    color: var(--branquinho);
    padding: 20px;
    font-size: 14px;
    background: var(--vermelhoescuro);
}

.tituf {
    font-family: BBH Sans Bartle;
    text-align: center;
}

.direitos {
    font-family: Questrial;
    text-align: center;
}

@media (width < 910px){
   .logo{
      display: none;
   }
   .menu-header{
      font-size: 1rem;
   }
}