* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* VARIAVEIS CSS*/
:root {
   --branquinho: #f1f1f1;
   --roxoclaro: rgb(245, 55, 55);
   --roxomedio: #550909;
   --vermelhoescuro: #87100c;
   --gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
   --gradient2: linear-gradient(rgba(61, 14, 14, 0.842));
}

body{
  background-image: url(/src/assets/img/fundo.4.png);
}

.topo {
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-top: -20px;
}

.logo {
    position: absolute;
    top: 70%;
    left: 20px;
    transform: translateY(-50%);
    height: 100px;

}

header {
    background-color: var(--roxomedio);
    height: 120px;
    color: var(--branquinho);
    padding: 20px;
    justify-content: space-around;
}

header h1 {
    font-family: BBH Sans Bartle;
    font-size: 2.5rem;
    font-weight: 100;
    z-index: 2;
    text-align: center;
    color: #fff;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}


.menu-header {
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.item-menu {
    font-family: Questrial;
    font-size: 18px;
    color: var(--branquinho);
    text-decoration: none;
    font-weight: 400;
    transition: color .5s;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

}

.item-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--roxoclaro);
    transition: width 0.3s ease;
}

.item-menu:hover::after {
    width: 100%;
}

#login {
    font-family: Questrial;
    font-size: 18px;
    color: var(--branquinho);
    text-decoration: none;
    font-weight: 400;
    transition: color .5s;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#login::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--roxoclaro);
    transition: width 0.3s ease;
}

#login:hover::after {
    width: 100%;
}

a:hover {
    color: var(--roxoclaro);
}

.hamburguer {
    margin-right: -15px;
    cursor: pointer;
    position: relative;
    z-index: 999;
    display: none;
    flex-direction: column;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--roxoclaro);
    margin: .5rem auto;
    border-radius: 10px;
    transition: .5s;
    margin-right: 10px;
    position: relative;
    top: -64px;
    right: 20px;
    padding: 0.5px;
}


.principal{
    font-family: Questrial;
    background-color: var(--gradient);
    color: var(--branquinho);
    text-align: center;
    margin-top: 10px;
}

.sobre-pri{
    background-color: #520d01;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 170px;
    margin-left: 25%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #520d01;
    text-align: center;
}

.titulo-pri{
    color: rgb(255, 255, 255);
    font-size: bold;
}
.texto-pri{
    color:rgb(226, 223, 229);
  
}
span{
    color: yellow;
    font-size: bold;
}

.sobre-lista1{
    text-decoration: none;
    list-style: none;
}

.sobre-lista2{
    text-decoration: none;
    list-style: none;
}

.footer-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    max-width: 100%;
    color: var(--branquinho);
    padding: 20px;
    font-size: 14px;
    background: var(--vermelhoescuro);
}

.tituf {
    font-family: BBH Sans Bartle;
    text-align: center;
}

.direitos {
    font-family: Questrial;
    text-align: center;
}

@media(width <=1024px) {


    header {
        height: 60px;
    }

    .menu-header {
        width: 100%;
        height: 100vh;
        background: var(--gradient2);
        position: absolute;
        z-index: 3;
        top: 0;
        left: -100%;
        gap: 6rem;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
    }

    header h1 {
        font-size: 1.4rem;
        margin-right: 5px;
    }

    #titulo {
        margin: 0 auto;
        font-size: 1.2rem;
    }

    /* #produtos{
       display: block;
       flex-wrap: wrap;
       justify-content: center;
       flex-direction: column;

   } */

    .logo {
         margin-top: -15px;
        margin-left: -16px;
        width: 56px;
        height: 56px;

    }

    .active {
        left: 0;
    }

    /* MENU HAMBURGUER */

    .hamburguer {
        display: block;
        margin-top: 13px;

    }

    /* Primeira linha */
    .hamburguer.active .barra:first-child {
        transform: translateY(13px) rotate(360deg) rotate(45deg);
    }

    /* Segunda linha */
    .hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }

    /* Terceira linha */
    .hamburguer.active .barra:last-child {
        transform: translateY(-13px) rotate(-360deg) rotate(-45deg);
    }
     
    .sobre-pri,
    .sobre-seg,
    .sobre-ter {
        width: 90%;
        margin: 20px auto;
        height: auto;
        padding: 20px;
    }

    .titulo-pri,
    .titulo-seg,
    .titulo-ter {
        margin-bottom: 5px;
        font-size: 1.3rem;
    }

    .texto-pri,
    .texto-seg,
    .texto-ter {
        font-size: 1rem;
        line-height: 1.4;
    }
    /* .principal{
        margin-left: -40%;
        display: flex;
        
       
    }
    .materia{
        width: 100px;
    }

    .sobre-pri{
        max-width:470px;
        height: 200px;
    } */

    .footer {
        width: 100%;
    }

    .footer-container {
        text-align: center;
        width: 100%;
    }

    .tituf {
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
    }

    .direitos {
        font-size: 10px;
        text-align: center;
        margin: 10px;
    }

    .infos {
        margin: 10px;
        text-align: center;
        font-size: 10px;
    }

    
}